<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>iFitNut</title>
</head>

<body>
  <header>
    <div class="homeBar">
      <div>
        <a href="/">
          <h1 class="pgName">iFitNut</h1>
        </a>
      </div>
      <div class="homeBtns">
        <a href="/login"><button class="signinBtn">Sign In</button></a>
        <a href="/signup"><button class="signupBtn">Sign Up</button></a>
      </div>
    </div>
    <div class="nav">
      <a title="Coming Soon!" href="/exercise">Exercises</a>
      <a title="Coming Soon!" href="/food">Food</a>
      <a title="Coming Soon!" href="/community">Community</a>
      <a title="Coming Soon!" href="/about">About Us</a>
    </div>

  
  </header>

  <main>
    {{{ body }}}
  </main>

  <footer>
    <div class="row">

      <div class="column">
        <a href="/">
          <h1 class="footerTitle">iFitNut</h1>
        </a>
        <img class="ballImg" src="https://i.gifer.com/AqxJ.gif" alt="workout-ball-giff">
      </div>

      <div class="column">
        <div>
          <h2>Exercises</h2>
          <p>Endurance</p>
          <p>Strength</p>
          <p>Balance</p>
          <p>Flexibility</p>
        </div>
        <br>
        <div>
          <h2>Food</h2>
          <p>Vegetables</p>
          <p>Fruits</p>
          <p>Grains, Legumes, Nuts and Seeds</p>
          <p>Meat and Poultry</p>
          <p>Fish and Seafood</p>
          <p>Dairy Foods</p>
        </div>
      </div>

      <div class="column">
        <div>
          <h2>Community</h2>
          <p>Our Community</p>
          <p>What’s New</p>
        </div>
        <br>
        <div>
          <h2>About Us</h2>
          <p>About Us</p>
          <p>Tutorials</p>
          <p>Our Team</p>
        </div>
        <br>
        <div>
          <h2>Contact Us</h2>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>



</body>

</html>