  <div class="container" id="statSubmission">
    <div class="cStats">
      <h3 class="center">Today's Stats</h3>
      <form id="exerciseForm">
        <label for="weight">Weight:</label><br>
        <input type="number" id="weightSubmit" name="weightSubmit"><br>
        <label for="pushups">Push Ups:</label><br>
        <input type="number" id="pushupsSubmit" name="pushupsSubmit"><br>
        <label for="situps">Sit Ups:</label><br>
        <input type="number" id="situpsSubmit" name="situpsSubmit"><br>
        <label for="pullups">Pull Ups:</label><br>
        <input type="number" id="pullupsSubmit" name="pullupsSubmit"><br>
        <label for="runtime">Runtime (minutes):</label><br>
        <input type="number" id="runtimeSubmit" name="runtimeSubmit"><br>
        <input class="submitBtn" id="submit" type="submit" value="Submit">
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="/js/stats.js"></script>