<div class="mainBody">
  <div class="main">
    <div>
      <h2 class="mainTitle">Save your progress with us Today!</h2>
      <div class="mainTxt">
        <p>Regular physical activity can improve your muscle strength and boost your endurance.</p>
        <p>Exercise delivers oxygen and nutrients to your tissues and helps your cardiovascular system work more efficiently. And when your heart and lung health improve, you have more energy to tackle daily chores.</p>
        <p>Save your progress with us!....add more text</p>        
        <a href="/signup"><button class="joinBtn">Join for Free</button></a>
      </div>
      
    </div>
    
    <div>
      <img class="nutImg" src="https://static.wixstatic.com/media/8850ab_3f6a378121ba42d8bf9d3a90a5c8d936~mv2.gif/v1/fit/w_320,h_214,al_c,q_80/file.gif" alt="workout-nut-giff">
    </div>
  </div>
</div>