<div class="userSignin">
  <img
    class="eyesImg"
    src="https://cliply.co/wp-content/uploads/2020/03/392001500_EYES_EMOJI_400px.gif"
    alt="Eyes-looking"
  />
  <form id="login-form" class="login">
    <div>
      <label for="login-username-input">Email Address</label>
      <input type="text" id="login-username-input" />
    </div>
    <div>
      <label for="login-password-input">Password</label>
      <input type="password" id="login-password-input" />
    </div>
    <div style="text-align: center;">
      <img
        class="pointerImgL"
        src="https://static.wixstatic.com/media/58bfba_e260c9b04bfa4134ae51568f93bcbfa7~mv2.gif"
        alt="pointing-hand"
      />
      <button type="submit" class="logBtn" id="loginBtn">Log In</button>
      <img
        class="pointerImgR"
        src="https://static.wixstatic.com/media/58bfba_e260c9b04bfa4134ae51568f93bcbfa7~mv2.gif"
        alt="pointing-hand"
      />
    </div>
  </form>
</div>
<script src="/js/login.js"></script>