<div>
	<div>
		<h2>Login</h2>
	</div>
	<form id="login-form">
		<div>
			<label for='login-username-input'> Username</label>
			<input type="text" id="login-username-input"/>
		</div>
		<div>
			<label for="login-password-input">Password</label>
			<input type="password" id="login-password-input" />
		</div>
		<button type="submit" id="loginBtn">Log In</button>
		<p>Dont have a login? <a type="button" href="/signup"> Sign Up Here!</a></p>
	</form>
</div>

<script src="/js/login.js"></script>