<div class="userSignup">
  <img class="eyesImg" src="https://cliply.co/wp-content/uploads/2020/03/392001500_EYES_EMOJI_400px.gif" alt="Eyes-looking">
  <form id="signup-form" class="login">
    {{!-- <div>
      <label for="name">Full Name</label>
      <input type="text">
    </div>
    <div>
      <label for="dob">Date of Birth</label>
      <input type="date">
    </div>
    <div> --}}
      <label for="username-input">Email Address</label>
      <input type="text" id="username-input">
    </div>
    <div>
      <label for="password-input">Password</label>
      <input type="password" id="password-input">
    </div>
    {{!-- <div>
      <label for="password-confirm">Confirm Password</label>
      <input type="password" id="password-confirm">
    </div> --}}
    <div style="text-align: center;"> 
      <img class="pointerImgL" src="https://static.wixstatic.com/media/58bfba_e260c9b04bfa4134ae51568f93bcbfa7~mv2.gif" alt="pointing-hand">
      <button type="submit" class="logBtn" id="loginBtn">Sign Up</button>
      <img class="pointerImgR" src="https://static.wixstatic.com/media/58bfba_e260c9b04bfa4134ae51568f93bcbfa7~mv2.gif" alt="pointing-hand">
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>


