<div>
	<div>
		<h2>Sign Up</h2>
	</div>
	<form id="signup-form">
		<div>
			<label for='username-input'>Username</label>
			<input type="text" id="username-input"/>
		</div>
		<div>
			<label for="password-input">Password</label>
			<input type="password" id="password-input" />
		</div>
		<button type="submit" id="loginBtn">Sign Up</button>
		<p>Already have an account? <a type="button" href="/login"> Log In Here!</a></p>
	</form>
</div>

<script src="/js/signup.js"></script>