<main>
  <div class="container">
    <div class="cStats">
      <h3 class="center">Your Stats</h3>
      <div>
        <label for="height">Height</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Weight</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Push-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Sit-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Pull-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Run-Time</label>
        <input type="text" id="height" name="height">
      </div>
      <button class="submitBtn">Submit</button>
    </div>
    <div class="lStats">
      <h3 class="center">Last Submission</h3>
      <div>
        <label for="height">Height</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Weight</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Push-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Sit-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Pull-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Run-Time</label>
        <input type="text" id="height" name="height">
      </div>
    </div>
  </div>      
  <h3 class="center">Previous Stats</h3>
  <div class="containerTwo">
    <div class="pStats">
      <h3 class="center">Date Submitted</h3>
      <div>
        <label for="height">Height</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Weight</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Push-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Sit-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Pull-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Run-Time</label>
        <input type="text" id="height" name="height">
      </div>
    </div>
  </div>
  <div class="containerTwo">
    <div class="pStats">
      <h3>Date Submitted</h3>
      <div>
        <label for="height">Height</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Weight</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Push-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Sit-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Pull-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Run-Time</label>
        <input type="text" id="height" name="height">
      </div>
    </div>
  </div>
  <div class="containerTwo">
    <div class="pStats">
      <h3>Date Submitted</h3>
      <div>
        <label for="height">Height</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Weight</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Push-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Sit-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Pull-Ups</label>
        <input type="text" id="height" name="height">
      </div>
      <div>
        <label for="height">Run-Time</label>
        <input type="text" id="height" name="height">
      </div>
    </div>
  </div>
</main>