* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
  --lightBlue: #D9F1FE;
  --darkBlue: #45C1F3;
  --red: #7B0000;
  --footer: #2C404F;
}

.center {
  text-align: center;
}

a{
  text-decoration: none;
  color: white;
}

button {
  border: none;
  
}

button:hover,
.submitBtn:hover {
  filter: brightness(75%);
}

.userBar {
  background-color: var(--darkBlue);  
  display: flex;
  justify-content: space-between;
} 

.userInfo {
  padding-left: 2%;
  text-align: center;
}


.navBtn{
  padding-top: 40px;
  padding-right: 2%;
}

.logoutBtn {
  color: black;
  background-color: var(--lightBlue);
  border-radius: 25px 25px 25px 25px; 
  /* padding: .5%;
  padding-left: 2.5%;
  padding-right: 2.5%; */
}



.nav {
  background-color: var(--red);
  padding: 1%;
  display: flex;
  justify-content: space-around;
}


.bBtn,
.eBtn {
  color: black;
  background-color: var(--lightBlue);
  border-radius: 25px 25px 25px 25px;    
}

.eBtn {
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 20px;
  width: 100%;
  font-size: large;
}


input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  fill: grey;
}




.container {
  padding: 5%;
  padding-left: 160px;

}

.containerTwo {
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

}

.prevS {
  padding-bottom: 5%;
}

.cStats,
.lStats {
  flex: 1;
  padding: 5%;
  box-shadow: 10px 10px 25px grey;
}

.cStats:first-child {
  margin-right: 5%;
}


.submitBtn {
  color: black;
  background-color: var(--darkBlue);
  border-radius: 25px 25px 25px 25px;    
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;
 }

.pStats {
  display: flex;
  padding: 3%;
  box-shadow: 10px 10px 25px grey;
  justify-content: space-between;
  text-align: center;

}



/* index.html */

.pgName {
  color: black;
}

.homeBar {
  background-color: var(--darkBlue);  
  padding: 1%;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.homeBtns {
  padding-top: 30px;
}
.signinBtn,
.signupBtn {
  padding-top: 5%;
  padding-bottom: 5%;

}

.signinBtn {
  border-radius: 10px 0px 0px 10px;  
}

.signupBtn {
  border-radius: 0px 10px 10px 0px;  
}

.hide {
  display: none;
}

.main {
  display: flex;
  text-align: center;
  padding: 2%;
}

.mainTitle {
  position: relative;
  top: 25px;
  left: 70px;
}

.mainTxt {
  background-color: var(--lightBlue);
  position: relative;
  top: 50px;
  left: 70px;
  padding: 5%;
  border-radius: 50px 50px 50px 50px;  


}

.nutImg,
.ballImg {
  width: 600px;
  border-radius: 25px 25px 25px 25px;  

}


.joinBtn {
  background-color: var(--darkBlue);
  position: relative;
  top: 45px;
  border-radius: 25px 25px 25px 25px;    
  padding: 1%;
  padding-left: 7%;
  padding-right: 7%;

}


footer {
  background-color: var(--footer);
  color: white;
}


.row::after {
  content: "";
  display: table;
  clear: both;

}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: center;
}

.footerTitle {
  position: relative;
  top: 50px;
  right: 90px;
}


.userSignin,
.userSignup {
  padding: 5%;
  box-shadow: 10px 10px 25px grey;
}

.login {
  padding: 5%;
  box-shadow: 10px 10px 25px grey;
}

.eyesImg {
  width: 5%;
  float: right;

}

.pointerImgR,
.pointerImgL {
  width: 5%;
  position: relative;
  top: 30px;
}

.pointerImgR {
  transform: rotate(-90deg);
}

.pointerImgL {
  transform: rotate(90deg);
}

.logBtn {
  border-radius: 25px 25px 25px 25px;    
  background-color: var(--darkBlue);
  padding: 1%;
  padding-left: 10%;
  padding-right: 10%;

}